@font-face {
  font-family: 'GHEA Grapalat';
  src: url('../fonts/GHEAGrapalat.woff') format('woff'),
    url('../fonts/GHEAGrapalat.ttf') format('truetype'),
    url('../fonts/GHEAGrapalat.svg#GHEAGrapalat') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --pink: #ff69b4;
  --green: #97bb31;
  --grey: #d9d9d9;
}

.wrapper {
  font-family: 'GHEA Grapalat';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .pie path:hover {
    filter: brightness(50%);
  }

  .legends {
    color: grey;

    div {
      display: flex;
      align-items: center;
      gap: 13px;

      p {
        text-transform: uppercase;
      }

      span {
        display: inline-block;
        width: 14px;
        height: 14px;
      }
    }

    .active {
      text-decoration: underline;
      text-underline-offset: 6px;
      color: #000;
    }

    .pink span {
      background-color: var(--pink);
    }

    .green span {
      background-color: var(--green);
    }

    .grey span {
      background-color: var(--grey);
    }
  }
}
